#!/bin/bash

message="{{ app.vars.message }}"
line_delay="{{ app.vars.line_delay }}"
chars_per_line="{{ app.vars.chars_per_line }}"

a=0
while true; do
    while read -n1 i ; do
        if [[ $i == _ ]]; then
            printf ' '
        else
	    printf "$i"
        fi
        a=$(( $a+1 ))
        if (( $a == $chars_per_line )); then
            printf '\n'
            a=0
        fi
    done < <(echo -n "$message")
done |
toilet -F gay -t |
while IFS= read line; do
    printf '%s\n' "$line"
    sleep $line_delay
done
